@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
/*start general rules*/
body{
    background-color: rgba(245, 224, 160, 0.368);
    
}
.partie{
    font-family: 'Playfair Display', serif;
   font-size: 15px; 
   font-weight: 600;
}
.text-center{
    font-family: 'Playfair Display', serif;
   font-size: 50px;
}
/*end general rules*/


/*start  navbar*/
#logo_span{
    color: #ffc107;
  }
  .bi.bi-search{
    margin: 9px;
  }
  /*profile*/
  .dropdown-menu {
    --bs-dropdown-zindex: 1000;
    --bs-dropdown-min-width: 10rem;
    --bs-dropdown-padding-x: 0;
    --bs-dropdown-padding-y: 0.5rem;
    --bs-dropdown-spacer: 0.125rem;
    --bs-dropdown-font-size: 1rem;
    --bs-dropdown-link-color: #000000;
    --bs-dropdown-bg: #e0a903;}
  .btn-secondary {
        --bs-btn-color: #000;
        --bs-btn-bg: #e0a903;
        --bs-btn-border-color: #040404;}
  
  
  /*end navbar*/

/*start recette*/
.card-img-top{
    height: 100%;
    width: 100%;
}

.card-title{
    color: #ffc107;
    font-style: italic;
}

.card{
    width:   90%;
    margin: 10px;
}

/*end recette*/

/*start rating stars*/
.ratings-wrapper{
    display: inline-block;
    margin-bottom: 5px;
 }
 .ratings{
    display: flex;
 }
 .ratings span{
    cursor: pointer;
    transition: color .2s;
    font-size: 20px;
 }
 .ratings span:hover{
    color: orange;
 }
 .ratings span:hover ~ span{
    color: orange;
 }
 .ratings span[data-clicked]{
    color: orange;
 }
 .ratings span[data-clicked] ~ span{
    color: orange;
 }
 /*end rating stars*/



 /*side images*/
 .side_img{
    padding: 10px;
    
 }


 /*coursel*/
 #carouselExampleIndicators .carousel-inner{
    height: 100%;
 }

 /* div de rectte */
#row_id{
   
   box-shadow: 20px 15px 35px #ffc107;
   border-radius: 2%;
}

#img_recette{
   border-radius: 2% 0 0 2%;
 
   
}

/* rating stars*/
.rating{
	border: none;
	float: left;
}

.rating > input{
	display: none;
}

.rating > label:before{
	content: '\f005';
	font-family: FontAwesome;
	margin: 0.5px;
	font-size: 1.2rem;
	display: inline-block;
	cursor: pointer;
}

.rating > .half:before{
	content: '\f089';
	position: absolute;
	cursor: pointer;
}


.rating > label{
	color: #ddd;
	float: right;
	cursor: pointer;
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover, 
.rating:not(:checked) > label:hover ~ label{
	color: #ffc107;
}


.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label{
	color: #ffc107;
}



/* start   astuce*/


#image{
   width: 60%;
   position: relative;
}




#card{
   width: 600px;
   height: 350px;
   border-radius: 20px;
   overflow: hidden;
   border: 8px solid #fff;
   position: relative;
}

.card-imgg{
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 15px;
}

.card-bodyy{
   width: 100%;
   height: 100%;
   top: 0;
   right: -100%;

   position: absolute;
   background-color: #1a343d59;
   backdrop-filter: blur(5px);
   border-radius: 15px;
   color: #fff;
   padding: 30px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   transition: 2s;

}
#card:hover .card-bodyy{
   right: 0;
} 

.card-title{
   text-transform: uppercase;
   font-size: 30px;
   font-weight: 500;
} 

/*end astuce*/


  /* Start footer */
  /* The footer is fixed to the bottom of the page */

footer {
    position: fixed;
    bottom: 0;
  }
  
  @media (max-height:800px) {
    footer {
        position: static;
    }
    header {
        padding-top: 40px;
    }
  }
  
  .footer-distributed {
    background-color: #2d2a30;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 50px;
  }
  
  .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
  }
  
  /* Footer left */
  
  .footer-distributed .footer-left {
    width: 30%;
  }
  
  .footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
  }
  
  
  .footer-distributed h3 span {
    color: orange;
  }
  
  /* Footer links */
  
  .footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
  }
  
  .footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
  }
  
  .footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
  }
  
  /* Footer Center */
  
  .footer-distributed .footer-center {
    width: 35%;
  }
  
  .footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
  }
  
  .footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
  }
  
  .footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
  }
  
  .footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
  }
  
  .footer-distributed .footer-center p a {
    color: orange;
    text-decoration: none;
    ;
  }
  
  /* Footer Right */
  
  .footer-distributed .footer-right {
    width: 30%;
  }
  
  .footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
  }
  
  .footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .footer-distributed .footer-icons {
    margin-top: 25px;
  }
  
  .footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
  }
  
  .footer-distributed .footer-icons a:hover {
    background-color: orange;
  }
  
  .footer-links a:hover {
    color:orange;
  }
  /* Footer responsivitee */
  @media (max-width: 880px) {
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
  }       
  /* End footer responsivitte */