/*start general rules*/
/*end general rules*/

/*start  navbar*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#logo_span{
    color: #ffc107;
}
.bi.bi-search{
    margin: 9px;
}
/*end navbar*/

/*start section*/
.bg-light.text-dark.p-5.text-center{
    background-image: url("../images/section-background.jfif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/*end section*/



.container h2{
    font-style: oblique;
}

/*start collaboration*/
.order-form.py-5{
    background-color: #ebb47545;
}
/*end collaboration*/
.dropdown-menu {
    --bs-dropdown-zindex: 1000;
    --bs-dropdown-min-width: 10rem;
    --bs-dropdown-padding-x: 0;
    --bs-dropdown-padding-y: 0.5rem;
    --bs-dropdown-spacer: 0.125rem;
    --bs-dropdown-font-size: 1rem;
    --bs-dropdown-link-color: #000000;
    --bs-dropdown-bg: #e0a903;}
.btn-secondary {
        --bs-btn-color: #000;
        --bs-btn-bg: #e0a903;
        --bs-btn-border-color: #040404;}

.heading{
    text-align: center;
    font-size: 4rem;
    color: #333;
    padding: 1rem;
    margin: 2rem 0;
    background: rgba(225, 51, 153, .05);
}
.heading span{
    color: orange;

}
.about .row{
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.about .row .video-container{
    flex: 1 1 40rem;
    position: relative;
}
.about .row .video-container video{
    width: 100%;
    border: 1.5rem solid #fff;
    border-radius: 4.5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.1);
    height: 100%;
    object-fit: cover;
}
.about .row .video-container h3{
    position: absolute;
    top: 50%; transform: translateY(-50%);
    font-size: 3rem;
    background: rgba(0,0,0,0.1);
    color: orange;
    width: 100%;
    padding: 1rem 2rem;
    text-align: center;
    mix-blend-mode: screen;

}
.about .row .content{
    flex: 1 1 40rem;
}
.about .row .content h3{
    font-size: 3rem;
    color: #333;
}
.about .row .content p{
    font-size: 1rem;
    color: #555;
    padding: 1rem 0;
    padding-top: 1rem;
    line-height: 1.5rem;
}
.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #333;
    color: #fff;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.5rem;
}
.btn:hover{
    background: orange;
}
.counter-up{
    background: url("../images/section-background.jfif") no-repeat;
    min-height: 50vh;
    background-size: cover;
    background-attachment: fixed;
    padding: 0 50px;
    position: relative;
    display: flex;
    align-items: center;
    
  }
  .counter-up::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.8);
  }
  .counter-up .content{
    z-index: 1;
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  .counter-up .content .box{
    border: 1px dashed rgba(255,255,255,0.6);
    width: calc(25% - 30px);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 20px;
  }
  .content .box .icon{
    font-size: 48px;
    color: hsl(0, 0%, 90%);
  }
  .content .box .counter{
    font-size: 50px;
    font-weight: 500;
    color: #f2f2f2;
    font-family: sans-serif;
  }
  .content .box .text{
    font-weight: 400;
    color: #ccc;
  }
  #imagee{
    position: relative;
    width: 500px;
    animation: up-and-down 5s linear infinite;
  }
  /* Start card chef */
  .container1{
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  .card{
    height: 280px;
    max-width: 350px;
    margin: 0 20px;
    background: white;
    transition: 0.4s;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  }
  .card:hover{
    height: 470px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
  }
  .card .img{
    height: 200px;
    width: 100%;
  }
  .card .img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .card .top-text{
    padding: 5px;
  }
  .card .top-text .name{
    font-size: 25px;
    font-weight: 600;
    color: #202020;
  }
  .card .top-text p{
    font-size: 20px;
    font-weight: 600;
    color:orange;
    line-height: 20px;
  }
  .card .bottom-text{
    padding: 0 20px 10px 20px;
    margin-top: 5px;
    background: white;
    opacity: 0;
    visibility: hidden;
    transition: 0.1s;
  }
  .card:hover .bottom-text{
    opacity: 1;
    visibility: visible;
  }
  .card .bottom-text .text{
    text-align: justify;
  }
  .card .bottom-text .btnn{
    margin: 10px 0;
    text-align: left;
  }
  .card .bottom-text .btnn a{
    text-decoration: none;
    background: orange;
    color: #f2f2f2;
    padding: 5px 8px;
    border-radius: 3px;
    display: inline-flex;
    transition: 0.2s;
  }
  .card .bottom-text .btnn a:hover{
    transform: scale(0.9);
  }
  @media screen and (max-width: 978px) {
    .container1{
      flex-wrap: wrap;
      flex-direction: column;
    }
    .card{
      max-width: 700px;
      margin: 20px 0;
    }
  }
  
  /* END card chef */

  /* Start footer */
  /* The footer is fixed to the bottom of the page */

footer {
  position: fixed;
  bottom: 0;
}

@media (max-height:800px) {
  footer {
      position: static;
  }
  header {
      padding-top: 40px;
  }
}

.footer-distributed {
  background-color: #2d2a30;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 50px 50px 60px 50px;
  margin-top: 50px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 30%;
}

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
}


.footer-distributed h3 span {
  color: orange;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: orange;
  text-decoration: none;
  ;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 30%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
  background-color: orange;
}

.footer-links a:hover {
  color:orange;
}
/* Footer responsivitee */
@media (max-width: 880px) {
  .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
  }
  .footer-distributed .footer-center i {
      margin-left: 0;
  }
}       
/* End footer responsivitte */

  @media screen and (max-width: 1036px) {
    .counter-up{
      padding: 50px 50px 0 50px;
    }
    .counter-up .content .box{
      width: calc(50% - 30px);
      margin-bottom: 50px;
    }
  }
  @media screen and (max-width: 580px) {
    .counter-up .content .box{
      width: 100%;
    }
  }
  @media screen and (max-width: 500px) {
    .wrapper{
      padding: 20px;
    }
    .counter-up{
      padding: 30px 20px 0 20px;
    }
  }
  @media screen and (max-width :450px) {
    .heading{
        font-size: 3rem;
    }
    
  }
  @media screen and (max-width: 768px) {
  .about .row {
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 2rem;
  }
  .about .row .video-container {
    flex: 0 0 auto;
    width: 100%;
    margin-bottom: 1rem;
  }
  .about .row .content {
    flex: 0 0 auto;
    width: 100%;
  }
}
@keyframes up-and-down {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: -50px;
  }
}

