/*start general rules*/
/*end general rules*/

/*start  navbar*/
#logo_span{
    color: #ffc107;
}
.bi.bi-search{
    margin: 9px;
}
/*end navbar*/

/*start section*/
.bg-light.text-dark.p-5.text-center{
    background-image: url("./images/section-background.jfif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/*end section*/

/*start historique*/
.card-img-top{
    height: 30%;
    width: 100%;
}
.card{
    height: 500px;
}

.card-title{
    color: #ffc107;
    font-style: italic;
}
/*end hiqtorique*/

.container h2{
    font-style: oblique;
}

/*start collaboration*/
.order-form.py-5{
    background-color: rgb(236, 170, 64);
}

/*end collaboration*/
/*profile*/
.dropdown-menu {
    --bs-dropdown-zindex: 1000;
    --bs-dropdown-min-width: 10rem;
    --bs-dropdown-padding-x: 0;
    --bs-dropdown-padding-y: 0.5rem;
    --bs-dropdown-spacer: 0.125rem;
    --bs-dropdown-font-size: 1rem;
    --bs-dropdown-link-color: #000000;
    --bs-dropdown-bg: #e0a903;}
.btn-secondary {
        --bs-btn-color: #000;
        --bs-btn-bg: #e0a903;
        --bs-btn-border-color: #040404;
        margin-top: 6px;
        

    
    }
.row{
    margin-top: 20px;
    margin-left: 1px;
}
.col-md-5{
    margin: auto;
    margin-top: 30px;
     
}
.carousel-inner{
    margin-top: 40px;

}
.img-fluid {
    position: relative;
    width: 500px;
    animation: up-and-down 5s linear infinite;
  }
  @keyframes up-and-down {
    0%,
    100% {
      top: 0;
    }
    50% {
      top: -50px;
    }
  }
  footer {
    position: fixed;
    bottom: 0;
  }
  
  @media (max-height:800px) {
    footer {
        position: static;
    }
    header {
        padding-top: 40px;
    }
  }
  
  .footer-distributed {
    background-color: #2d2a30;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 50px;
  }
  
  .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
  }
  
  /* Footer left */
  
  .footer-distributed .footer-left {
    width: 30%;
  }
  
  .footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
  }
  
  
  .footer-distributed h3 span {
    color: orange;
  }
  
  /* Footer links */
  
  .footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
  }
  
  .footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
  }
  
  .footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
  }
  
  /* Footer Center */
  
  .footer-distributed .footer-center {
    width: 35%;
  }
  
  .footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
  }
  
  .footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
  }
  
  .footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
  }
  
  .footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
  }
  
  .footer-distributed .footer-center p a {
    color: orange;
    text-decoration: none;
    ;
  }
  
  /* Footer Right */
  
  .footer-distributed .footer-right {
    width: 30%;
  }
  
  .footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
  }
  
  .footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .footer-distributed .footer-icons {
    margin-top: 25px;
  }
  
  .footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
  }
  
  .footer-distributed .footer-icons a:hover {
    background-color: orange;
  }
  
  .footer-links a:hover {
    color:orange;
  }
  /* Footer responsivitee */
  @media (max-width: 880px) {
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
  }       
  /* End footer responsivitte */
    @media screen and (max-width: 1036px) {
      .counter-up{
        padding: 50px 50px 0 50px;
      }
      .counter-up .content .box{
        width: calc(50% - 30px);
        margin-bottom: 50px;
      }
    }
    @media screen and (max-width: 580px) {
      .counter-up .content .box{
        width: 100%;
      }
    }
    @media screen and (max-width: 500px) {
      .wrapper{
        padding: 20px;
      }
      .counter-up{
        padding: 30px 20px 0 20px;
      }
    }
    @media screen and (max-width :450px) {
      .heading{
          font-size: 3rem;
      }
      
    }
    @media screen and (max-width: 768px) {
    .about .row {
      grid-template-columns: 1fr;
      gap: 1rem;
      padding: 2rem;
    }
    .about .row .video-container {
      flex: 0 0 auto;
      width: 100%;
      margin-bottom: 1rem;
    }
    .about .row .content {
      flex: 0 0 auto;
      width: 100%;
    }
  }




  
